.App {
  text-align: center;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: grid;
  height: 100vh;
}

.home{
  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
  width: 60%;
  margin: auto;
  height: 40px;
  /* border: 1px solid #fd5949; */
  display: grid;
  justify-content: center;
  /* align-items: center; */
}
.links{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.insta-link{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  margin: auto;
  text-decoration: none;
  /* color: #285AEB;
  align-items: center;
  justify-content: center; */
}

.twitter-link{
  color: #00acee;
    font-size: 25px;
    margin: auto;
    text-decoration: none;
}
.fb-link{
  color: #3b5998;
  font-size: 25px;
  margin: auto;
  text-decoration: none;
}
.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); */
  margin: auto;
  /* background-color: blanchedalmond; */
  border-radius: 20px;
  align-items: flex-start;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* color: antiquewhite; */
  margin-top: 50px;
  color: brown;
}
.container {
  border: 2px solid purple;
  border-radius: 10px;
  display: block;
  margin: 10px auto auto;
  padding: 20px;
  width: 40%;
  height: auto;
}
.media {
  width: 80%;
  height: 350px;
  margin: auto;
  margin-top: auto;
  margin-top: 10px;
  border: 1px solid purple;
  border-radius: 12px;
}
.caption {
  font-size: small;
  text-align: justify;
  color: purple;
  display: block;
  width: 80%;
  margin: auto;
  padding-top: 20px;
}
.btn{
  height: 40px;
  width: 100px;
  background-color: purple;
}